@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Where Have You Bean?</h1>
    <p>Now that you are here,  <a href="home/login">CLICK HERE</a> to register for our new site.</p>
    <br />
    <br />
    <br />
    
    <table align="center">
        <tbody>
            <tr>
                <td>
                    <img src="images/coffeesplash.jpg" alt="Coffee in a cup on a wooden barrel" width="100%"/> 
                </td>
            </tr>
        </tbody>
    </table>
    
</div>
