@model string
@{
    ViewData["Title"] = "Invalid";
}
<br />
<br />
<h3>
    @message.error
</h3>
<br />
<br />
<h1>Entry was invalid</h1>
<p>Click <a href="/home/login" style="font-weight:bold">TRY AGAIN</a> to go back and register! </p>



